@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer {
    width: 100vw;
    height: 100vh;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20220301/pngtree-dark-blue-rain-clouds-sky-texture-background-bad-weather-tornado-thunderstorm-photo-image_41509088.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(93%);
    overflow: hidden;
}

.maindiv {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto 0.7fr 1fr 1fr;
    grid-auto-flow: column;
    gap: 30px;
    background-color: #000000;
    opacity: 75%;
    padding: 20px;
    border-radius: 10px;
}

.maindiv>.input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #161616;
    padding: 10px 0px 10px 0px;
    grid-row: 1;
}

input[type="text"] {
    width: 50%;
    height: 80%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 28px;
    color: white;
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    letter-spacing: 1.2px;
    font-weight: normal;
}

button{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s linear;
    color: black;
}
button:hover{
    box-shadow: rgba(210, 206, 206, 0.35) 0px 5px 15px;
}

.maindiv>.current {
    width: 100%;
    height: 100%;
    grid-row: span 3;
    background-color: white;
    opacity: 0.6;
    border-radius: 10px;  
}

.maindiv>.about {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.6;
    border-radius: 10px;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.maindiv>.day {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.6;
    border-radius: 10px;
    grid-row: span 2;
    overflow-y: scroll;
}


input::-webkit-calendar-picker-indicator {
    opacity: 0;
  }


@media (min-width:1100px){
    .maindiv>.day::-webkit-scrollbar,.maindiv>.about::-webkit-scrollbar{
        width: 10px;
        background-color: #d0d3d4;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .maindiv>.day::-webkit-scrollbar-thumb,.maindiv>.about::-webkit-scrollbar-thumb{
        background-color: #9fb0c1;
        border-radius: 4px;
    }
}

@media (max-width: 1100px){
    .outer{
        height: auto;
        width: 100vw;
    }
    .maindiv {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }
    
    .maindiv>.input {
        width: 90%;
        grid-row: 1 / 2;
        margin: 0 auto;
    }
    
    input[type="text"] {
        width: 60%; 
    }
    
    .maindiv>.current, .maindiv>.about, .maindiv>.day {
        grid-row: auto;
        padding: 10px;
    }

}